@media (max-width: 1580px) {
    .accordion-div {
        width: 80%;
    }
}
@media (max-width: 1533px) {
    .li {
        width: 30%;
    }
    .li:nth-child(4),
    .li:nth-child(5),
    .li:nth-child(6) {
        margin-top: 10px;
    }
}
@media (max-width: 1512px) {
    .wrapper-1:nth-child(3) {
        margin: 0 auto;
        margin-top: 10px;
    }
}
@media (max-width: 1456px) {
    .registration-img {
        display: none;
    }
    .registration {
        justify-content: center;
    }
}
@media (max-width: 1380px) {
    .accordion-div {
        width: 100%;
    }
    .new-info {
        width: 60%;
    }
}
@media (max-width: 1140px) {
    .footer {
        width: 100%;
    }
    .accordion-div {
        flex-direction: column;
    }
}
@media (max-width: 1072px) {
    .header-section {
        flex-direction: column;
    }
    .traveller-girl {
        width: 70%;
    }
}
@media (max-width: 1024px) {
    .wrapper-1 {
        width: 45%;
    }
    .footer {
        flex-direction: column;
        align-items: center;
    }
    .wrapper {
        width: 55%;
        margin: 0 auto;
    }
    .wrapper:nth-child(2){
        margin-top: 20px;
    }
    .footer-div-1 {
        width: 90%;
        margin-top: 35px;
        margin-bottom: 35px;
    }
}

@media (max-width: 950px){
    .wrapper-1 {
        width: 60%;
        margin: 0 auto;
    }
    .wrapper-1:nth-child(2){
        margin-top: 10px;
    }
    .wrapper-1:nth-child(1){
        margin-top: 40px;
    }
}

@media (max-width: 890px) {
    .navigation {
        display: none;
    }
    .burger-bar {
        display: block;
    }
    .ul {
        width: 60%;
        flex-direction: column;
        height: 400px;
        align-items: center;
        justify-content: space-between;
        border: 2px solid rgb(116, 116, 189);
        border-radius: 10px;
        padding: 5px;
    }
    .navigation.activeNav {
        display: block;
        padding-top: 100px;
        width: 100%;
    }
    .header.activeNav {
        background-image: url(../images/airplane.jpg);
        background-repeat: no-repeat;
        background-position: bottom;
        height: 100rem;
    }
    .a-tag {
        color: rgb(10, 88, 255);
    }
}
@media (max-width: 800px) {
    .wrapper {
        width: 90%;
    }
    .li {
        width: 40%;
    }
    .li:nth-child(3){
        margin-top: 10px;
    }
    .paragraph {
        width: 100%;
    }
    .traveller-girl {
        width: 100%;
        margin-top: 50px;
    }
}
@media (max-width: 705px){
    .name-username {
        flex-direction: column;
        align-items: center;
        height: 65px;
    }
    .username-div,
    .name-div {
        display: flex;
        align-items: center;
    }
    .wrapper-1 {
        width: 80%;
    }
    .new-info {
        margin-right: 40px;
    }
    .section-5 {
        width: 90%;
    }
}

@media (max-width: 538px){
    .destination-1,
    .offer {
        font-size: 40px;
    }
}

@media (max-width: 530px){
    .section-5 {
        height: 700px;
    }
    .name-username {
        margin-top: 20px;
        height: 80px;
    }
    .new-info {
        font-size: 20px;
        margin-top: 10px;
    }
}

@media (max-width: 520px){
    .travel-enjoy {
        font-size: 45px;
    }
    .destination {
        font-size: 15px;
    }
    .wrapper-1,
    .accordion-div {
        width: 100%;
    }
    .accordion {
        width: 320px;
    }
    .li {
        width: 70%;
        margin: 0 auto;
    }
    .li:nth-child(2){
        margin-top: 10px;
    }
    .footer-div-1 {
        flex-direction: column;
        height: 550px;
        width: 45%;
    }
    .new-info {
        margin-right: 20px;
    }
    .footer-div {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}

@media (max-width: 434px){
    .offer {
        font-size: 35px;
    }
}

@media (max-width:420px){
    .section-5 {
        width: 100%;
    }
    .wrapper-1 {
        width: 80%;
    }
    .wrap-1 {
        width: 100%;
    }
    .plane {
        width: 20%;
    }
    .new-info {
        margin-right: 5px;
    }
}

@media (max-width: 382px){
    .offer {
        font-size: 27px;
    }
}

@media (max-width: 380px) {
    .accordion {
        width: 250px;
    }
    .wrap {
        width: 100%;
    }
    .wrapper {
        width: 100%;
    }
    .wrapper-1 {
        width: 90%;
    }
    .ul {
        width: 35%;
        padding: 20px;
        margin-right: 20px;
    }
    .navigation.activeNav {
        width: 90%;
    }
}
@media (max-width: 354px) {
    .gender-div {
        display: flex;
        flex-direction: column;
    }
}
@media (max-width: 335px) {
    .ul {
        padding: 18px;
        margin-right: 5px;
    }
}
@media (max-width: 328px) {
    .registration {
        width: 95%;
    }
}